<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="river.chat.common">

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <application >

        <meta-data android:name="river.chat.businese_common.config.CommonConfigurationImpl"
            android:value="ConfigModule" />
        <activity
            android:name="river.chat.chatevery.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="river.chat.chatevery"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="river.chat.chatevery.wxapi.WaPayActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="river.chat.chatevery.wxapi.WaPayActivity" />

    </application>


</manifest>