<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="river.chat.common">

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <application >

        <meta-data android:name="river.chat.businese_common.config.CommonConfigurationImpl"
            android:value="ConfigModule" />
        <activity
            android:name="river.chat.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>


</manifest>