<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="river.chat.business_main">

    <application>
        <meta-data android:name="river.chat.businese_main.config.MainConfigurationImpl"
            android:value="ConfigModule" />
        <activity android:name="river.chat.businese_main.home.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="um.64a30595a1a164591b4154f2" />
            </intent-filter>
        </activity>
        <activity android:name="river.chat.businese_main.mine.SettingsActivity"
            android:screenOrientation="portrait"  />

        <activity android:name="river.chat.businese_main.feedback.FeedBackActivity"
            android:screenOrientation="portrait"  />
        <activity android:name="river.chat.businese_main.vip.VipOpenActivity"
            android:screenOrientation="portrait"  />
        <activity android:name="river.chat.businese_main.vip.VipExchangeActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"  />

        <activity android:name="river.chat.businese_main.shareapp.ShareAppActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"  />

        <activity android:name="river.chat.businese_main.collection.CollectionListActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"  />

        <activity android:name="river.chat.businese_main.collection.detail.CollectionDetailActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"  />

        <activity android:name="river.chat.businese_main.picture.PicturePreviewActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"  />
        <activity android:name="river.chat.businese_main.develop.DevelopActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"  />
</application></manifest>